{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class="form-group bg-light">
                <legend class = "border-bottom mb-4 bg-dark text-white">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class= "form-group">
                <button class="btn btn-outline-dark" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}